root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,json,yml,yaml,py,ps1,cs,xaml,xml}]
charset = utf-8

[*.md]
trim_trailing_whitespace = false
